
.my-body {
    background-image: url(../image/010223.jpg);
    /*background-repeat:no-repeat;*/
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.login-background {
    background-image: url(../image/001.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.my-navbar-color {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(173, 166, 166, 0.29);
}

.my-container {
    /*display: flex;
    margin: 0 auto;
    width: 70%;*/
}

.my-connect {
    flex-grow: 3;
    margin: 25px;
    width: 23%;
}

.my-connects {
    /*flex-grow: 3;
    margin: 25px;
    width: 23%;*/
    padding-left: 109px;
}

.my-content-tweet {
    background: #f5f5f5;
    margin: 18px;
    padding: 19px;
    width: 588px;
}
.my-sidebar {
    /*flex-grow: 1;*/
    /*height: 400px;
    margin: 44px;*/
    /*margin-left: 353px;*/
    /*margin-left: 825px;
    position: absolute;*/
    padding-top: 14px;
}

.my-tweet-add {
    padding-left: 42px;
    width: 631px;
}

.my-tweet-add-buttons {
    display: block;
    margin-top: 10px;
}

.my-tweet-add-button {
    width: 121px;
    margin-left: 404px;
}

.my-inputFile {
    width: 213px;
    height: 100px;
    background: white;
    margin-top: 10px;
}

.my-inputFile-button {
    width: 203px;
    display: block;
    position: relative;
    top: 23px;
    left: 4px;
}

.my-tweet-sendPicture-button {
    position: relative;
    top: 20px;
    left: 69px;
}

.my-timeline-sidebar {
    flex-grow: 2;
    padding-top: 71px;
}

.my-div-comment {
    display: flex;
}

.my-div-comment-transmit {
    display: flex;
    position: relative;
    top: 31px;
}


.my-tweet-portrait {
    width:100%;
    height: 84px;
}

.my-sidebar-connect {
    text-align: center;
    padding-right: 46px;
}

.my-sidebar-image {
    padding-left: 78px;
}

.my-tweet-follow {
    width: 200px;
    height: 100px;
    background: #ccc;
    margin-top: 10px;
    float: right;
    position: relative;
    top: -115px;
    right: 418px;
    border-radius: 13px;
    overflow:hidden;
}

.my-modal-follow {
    position: relative;
    top: 246px;
    left: 500px;
}

.my-portrait-follow {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.my-follow-button {
    margin: 20px;
}

.my-tweet-nickname {
    position: relative;
    left: 79px;
    bottom: 66px;
}

.my-tweet-time {
    position: relative;
    top: 18px;
    left: -1px;
}

.my-tweet-contents {
    margin: auto;
    font-size: 18px;
    width: 70%;
}

.my-tweet-content {
    margin: -35px 0 55px;
}

.my-tweet-image {
    display: inline;
    position: relative;
    bottom: 18px;
    left: 0;
    top: -2px;
}
.my-tweet-buttons {
    margin: -1px;
    position: relative;
    bottom: -18px;
}

.my-button {
    margin-right: 0;
    width: 135px;
    border-radius: 0;
    color: #8c8c8c;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}

.btn-hui{
    color: white;
    background-color: #2ca99c;
    border-color: #2ca99c;
}

.my-image{
    width: 125px;
    height: 125px;
    margin-bottom: 5px;
}

.img-portrait {
    border-radius: 16%;
    width:60px;
    height:60px;
}

.my-input-warning {
    background-color: white;
    transition: 0.5s;
}

.my-tweet-transmit {
    background: #f5f5f5;
    margin: 18px;
    width: 588px;
    margin-bottom: 53px;
}

.my-transmit-top {
    background-color: white;
    padding: 20px;
    padding-bottom: 0px;
}



.my-tweet-transmit-portrait-2 {
    position: relative;
    top: 61px;
    left: 20px;
}

.my-transmit-bottom-current {
    background-color: white;
    position: relative;
    top: 34px;
}

.my-transmit-bottom {
    display: flex;
    background-color: white;
    position: relative;
    top: 34px;
    padding-left: 18px;
}



.my-transmit-button {
    margin-right: 0;
    width: 291px;
    border-radius: 0;
    color: #8c8c8c;
    border-color: white;
    background-color: white;

}

.my-tweet-transmit-content {
    padding-left: 77px;
    position: relative;
    top: -41px;
    font-size: 18px;
}

.my-transmit-tweet-contents {
    margin: auto;
    font-size: 18px;
    width: 70%;
    padding-top: 15px;
    padding-left: 9px;
}

.my-selftweet-button {
    display: inline-flex;
    position: relative;
    left: -15px;
}

#id-input-nickname {
    width: 266px;
}

.button-tweet-loadTweets-plaza {
    width: 100%;
    color: #2b2828;
    background-color: rgba(91, 192, 222, 0);
    border-color: rgba(70, 184, 218, 0);
    clear: both;
    position: relative;
    margin-top: -42px;
    height: 37px;
}

.button-tweet-loadTweets-timeline {
    width: 100%;
    color: #2b2828;
    background-color: rgba(91, 192, 222, 0);
    border-color: rgba(70, 184, 218, 0);
    clear: both;
    position: relative;
    margin-top: -42px;
    height: 37px;
}
