.one-div-nav{
    background: #129fea;
}

.one-div-connect {
    text-align: center;
    margin-top: 87px;
}

.one-div-leyenda {
    text-align: right;
    width: 45%;
    margin: 28px auto;
}

.one-div-cita {
    text-align: left;
}

.one-div-pubdate {
    text-align: right;
}

.one-div-title {
    background: #eaeef3;
    width: 45%;
    margin: 44px auto;
    padding: 10px;
    padding-bottom: 0px;
}

.one-image {
    height: 100%;
    width: 45%;
}

.one-buttons {

}

.one-button {
    margin: 0px 45px;
}

p {
    margin: 0 0 10px;
    font-size: 17px;
    font-family: cursive;
}
